<h1> Restaurant Details </h1>

<h2> <%= @restaurant.name %> </h2>

<ul>

  <li> ADDRESS </li>
    <%= @restaurant.address %> <br>

  <li> PHONE NUMBER </li>
    <%= @restaurant.phone_number %> <br>

  <li> CATEGORY </li>
    <%= @restaurant.category %> <br>

  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

  <li> REVIEW </li>
    <ul><% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> <p>Rating : <%= review.rating %> </p></li>
      <% end %>
    </ul>

</ul>
